http://home2.rinaldolee.com  {
	reverse_proxy 172.17.0.1:81
}

auth.home2.rinaldolee.com {
    encode gzip

    header {
        Strict-Transport-Security "max-age=63072000"
    }

    tls internal

    reverse_proxy https://authentik-server.apps:9443 {
        transport http {
            tls_insecure_skip_verify
        }
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
        header_up Host {host}
    }
}

jellyfin.home2.rinaldolee.com {
    tls internal

    reverse_proxy jellyfin.apps:8096
}

jellyseerr.home2.rinaldolee.com {
    tls internal
    reverse_proxy jellyseerr.apps:5055
}

qbit.home2.rinaldolee.com {
    tls internal
    reverse_proxy qbittorrent.apps:8080
}

radarr.home2.rinaldolee.com {
    tls internal
    reverse_proxy radarr.apps:7878
}

sonarr.home2.rinaldolee.com {
    tls internal
    reverse_proxy sonarr.apps:8989
}

lidarr.home2.rinaldolee.com {
    tls internal
    reverse_proxy lidarr.apps:8686
}

prowlarr.home2.rinaldolee.com {
    tls internal
    reverse_proxy prowlarr.apps:9696
}

bazarr.home2.rinaldolee.com {
    tls internal
    reverse_proxy bazarr.apps:6767
}

git.home2.rinaldolee.com {
    tls internal
    reverse_proxy forgejo.apps:3000
}

prometheus.home2.rinaldolee.com {
    tls internal
    reverse_proxy prometheus.apps:9090
}
