{
        servers :443 {
                protocol {
                        experimental_http3
                }
        }
}

http://home2.rinaldolee.com  {
	reverse_proxy 172.17.0.1:81
}

auth.home2.rinaldolee.com {
    encode gzip

    header {
        Strict-Transport-Security "max-age=63072000"
    }

    tls internal

    reverse_proxy https://authentik-server.apps:9443 {
        transport http {
            tls_insecure_skip_verify
        }
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
        header_up Host {host}
    }
}

jellyfin.home2.rinaldolee.com {
    reverse_proxy jellyfin.apps:8096
}
