pihole.home.rinaldolee.com  {
    reverse_proxy 172.17.0.1:81
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

auth.home2.rinaldolee.com {
    encode gzip

    header {
        Strict-Transport-Security "max-age=63072000"
    }

    reverse_proxy https://authentik-server.apps:9443 {
        transport http {
            tls_insecure_skip_verify
        }
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
        header_up Host {host}
    }
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

jellyfin.rinaldolee.com {
    reverse_proxy jellyfin.apps:8096
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

jellyseerr.rinaldolee.com {
    reverse_proxy jellyseerr.apps:5055
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

qbit.rinaldolee.com {
    reverse_proxy qbittorrent.apps:8080
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

radarr.rinaldolee.com {
    reverse_proxy radarr.apps:7878
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

sonarr.rinaldolee.com {
    reverse_proxy sonarr.apps:8989
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

lidarr.rinaldolee.com {
    reverse_proxy lidarr.apps:8686
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

prowlarr.rinaldolee.com {
    reverse_proxy prowlarr.apps:9696
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

bazarr.rinaldolee.com {
    reverse_proxy bazarr.apps:6767
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

git.rinaldolee.com {
    reverse_proxy forgejo.apps:3000
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

prometheus.rinaldolee.com {
    reverse_proxy prometheus.apps:9090
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

chat.rinaldolee.com {
    reverse_proxy rocketchat.apps:3000
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}
